name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Generate release tag
      run: |
        git tag $(date +"%y.%m.%d")
        git push origin --tag -f
    - name: Clone source code
      uses: actions/checkout@v2
      with:
        repository: Mrs4s/go-cqhttp
        ref: dev
    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Setup GoReleaser
      run: |
        curl -o .goreleaser.yml https://raw.githubusercontent.com/j1g5awi/go-cqhttp-nightly/master/.goreleaser.yml
        git config --global user.name "action"
        git config --global user.email "action@github.com"
        git commit -a -m "tmp"
        git tag $(date +"%y.%m.%d")
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    - name: Delete old releases
      uses: dev-drprasad/delete-older-releases@v0.2.0
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
